@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Italianno&family=Tourney:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Kanit:wght@400;500&family=Kdam+Thmor+Pro&family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap');
/* background color of landing page */
#home {
  background-color: hsl(218, 41%, 25%);
  background-image: radial-gradient(
  750px circle at 30% 50%, 
  hsl(218, 41%, 37%) 15%,
  hsl(218, 41%, 35%) 30%,
  hsl(218, 41%, 25%) 45%,
  hsl(218, 41%, 20%) 50%,
  transparent 100%
),
  radial-gradient(
  650px circle at 100% 100%, 
  hsl(218, 41%, 37%) 15%,
  hsl(218, 41%, 35%) 30%,
  hsl(218, 41%, 25%) 65%,
  hsl(218, 41%, 20%) 75%,
  transparent 100%);
}

.detel{
  margin-left:  8%;
  margin-top: 15%;
}

.detel a{
  background: #212121;
  padding:  10px 18px;
  text-decoration: none;
  fonr-weight:  bold;
  coloe:  #fff;
  display:  inline-block0;
  margin: 30px 0;
  border-radius: 5px;
}

/* Images of landing page */
.images{
  width: 45%;
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 50px;
 }
 
 .images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;

 } 

.images:hover .shape{
  bottom:  40px;
}

.images:hover .me{
  left: 45%;
}


/*font animation of landing page*/

.w3-animate-left {
  position:relative;
  animation:animateleft 2.0s
}
@keyframes animateleft { 
  from { 
    left:-900px;opacity:0
  } 
  to {
    left:0;opacity:1
  }
}

.w3-animate-left-1 {
  position:relative;
  animation:animateleft 1.5s
}
@keyframes animateleft { 
  from { 
    left:-900px;opacity:0
  } 
  to {
    left:0;opacity:1
  }
}


.w3-animate-left-2 {
  position:relative;
  animation:animateleft 1.0s
}
@keyframes animateleft { 
  from { 
    left:-900px;opacity:0
  } 
  to {
    left:0;opacity:1
  }
}

#me{                   /* to overlay/ hanap2  */
  background-image: url(./image/overlay.png), url(https://images.pexels.com/photos/317385/pexels-photo-317385.jpeg); /* The image used */
  /*height: 6000px;*/ 
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;  /*to fix background image*/
  background-size: cover; 
}

/* About me */
#head{
font-family: 'Fredericka the Great', cursive;
}

#aboutMeName{
font-family: 'Audiowide', cursive;
font-family: 'Italianno', cursive;
font-family: 'Tourney', cursive;
}

#excited{
font-family: 'Audiowide', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Kdam Thmor Pro', sans-serif;
font-family: 'Lobster', cursive; 
}

#continue{
font-family: 'Modak', cursive;
}

/* images in projects and other tools */


.imagesCss {
  overflow: hidden;
  
}

/* zoom in out  */

.imagesCss img {
  transition: all 1.9s ease;
}

.imagesCss:hover img {
  transform: scale(1.4);
}

#proj{
background-image: url(https://images.pexels.com/photos/6249808/pexels-photo-6249808.jpeg);
background-attachment: fixed;  /*to fix background image*/
background-position: center; 
background-repeat: no-repeat;
background-size: cover; 
}

h5{
font-family: 'Alumni Sans Inline One', cursive;
font-size: x-large;
color: rgb(0,0,255);
}